.container {
    padding: 0 20%;
}

.navDiv {
    display: flex;
    background-color: #003264;
    color: #ffb515;
    border-bottom: #ffb515 solid 2px;
    margin-bottom: 50px;
}

.headerLogo {
    height: 70px;
    padding: 0 15px;
    /* justify-self: start; */
}

.headerName {
    display: inline-block;
    font-size: 22px;
    font-weight: bold;
    padding-right: 20px;
    align-self: center;
    /* align-self: center;
    justify-self: end; */
}

/* .homeDiv ul:nth-child(even){
    background-color: rgb(228, 228, 228);
} */

.flightRow li {
    display: inline-block;
    list-style: none;
    padding: 10px;
    width: 25%;
    text-align: center;
    color: #fff;
    background-color: #003264;
}

.flightRow {
    margin-bottom: 5px;
}

.flightRowHeader {
    background-color: #003264;
    margin-bottom: 10px;
}

.flightRowHeader li {
    font-weight: bold;
    color: #ffb515;
}

.flightRow li a {
    color: #fff;
    transition: color .3s ease;
}

.flightRow li a:hover {
    color: #ffb515
}

.flightDetailsUL li {
    list-style: none;
    text-align: center;
    padding: 10px;
}

h2 {
    text-align: center;
    margin: 10px 0;
}

/* .breadcrumbsUL li {
    list-style: none;
    display: inline-block;
    padding: 5px;
    font-size: 20px;
}

.breadcrumbsUL li a {
    text-decoration: none;
    color: white;
    transition: color .3s ease;
}

.breadcrumbsUL li a:hover {
    color: #ffb515 */

/* } */

.flightDetailsDiv {
    background-color: #003264;
    color: white;
    padding: 20px 0;
}

.flightDetailsDiv a {
    color: white;
    transition: color .3s ease;
}
.flightDetailsDiv a p {
    display: inline-block;
    margin-left: 30px;
    text-decoration: underline;
    /* width: 30%;     */
}

.flightDetailsDiv a:hover {
    color: #ffb515;

    /* margin-left: 20px; */
}

.flightDetailsUL li span {
    color: #ffb515;
    font-size: 22px;
    font-weight: bold;
}

h2 span {
    color: #ffb515;
}

.footerDiv {
    display: flex;
    background-color: #003264;
    color: #ffb515;
    border-top: #ffb515 solid 2px;
    height: 70px;
    text-align: center;
    justify-content: center;
    margin-top: 50px;
    
}

.footerDiv p {
    align-self: center;
}

@media (max-width: 768px) {
    .container {
        padding: 5px;
    }

    .navDiv {
        margin-bottom: 0;
    }

    .footerDiv {
        margin-top:0;
    }
}