.container {
    padding: 0 10%;
}

.navDiv {
    display: grid;
    grid-template-columns: auto auto;
    background-color: #bbf359;
}

.headerLogo {
    width: 120px;
    padding: 0 15px;
    justify-self: start;
}

.headerName {
    font-size: 22px;
    font-weight: bold;
    padding-right: 20px;
    align-self: center;    
    justify-self: end;
}

.homeDiv ul:nth-child(even){
    background-color: rgb(228, 228, 228);
}

.flightRowHeader li {
    font-weight: bold;
}

.flightRow li {
    display: inline-block;
    list-style: none;
    padding: 20px;
    width: 250px;
    text-align: center;
}

.flightDetailsUL li {
    list-style: none;
}

.breadcrumbsUL li {
    list-style: none;
    display: inline-block;
    padding: 5px;
    font-size: 20px;
}